body{
	background-color: #DDDBDB;
}

.wrap{

	width: 430px;
	height: 400px;
	margin: auto;
	background-color: white;
	position: relative;
	  top: 75px;
	border-radius: 15px;
}

.box{
    
    width: 430px;
    height: 55px;
    margin: auto;
    text-align: center;
    background-color: #A079F8;
    position: absolute;
    color: white;
       top: 0px;
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;



}

.message{
    width: 430px;
    height: 35px;
    margin: auto;
    padding-top:16px;
    text-align: center;
    font-weight: bolder;
    margin : 0;
    background-color: #ff2222;
    position: absolute;
        top:405px;

     color: white;
    border-radius: 8px;

}

.box h2{

	padding-right: 10px;

	font-family: serif;


	text-shadow: 3px 2px 2px red;


}

.text{
       
       position: absolute;
        left: 30px;
        top: 75px;

}

label{

	display: block;
	font-family: serif;
	border-right:  10px;
	
	font-size: 20px;
}

input[type=text],[type=password]{
	width: 350px;
	height: 25px;
	border-radius: 6px;
	border: 1.2px solid #4C4D4E;
	padding-right: 0;

}

input[type=submit]{

	text-align: center;
	position: absolute;
	   right: 150px;
	background-color: #A079F8;
    border: 3px solid #A079F8;
    border-radius: 5px;
    width: 75px;
    height: 35px;
    color: white;
    text-align: center;
    font-size: 15px;


}

.space{

	padding-left: 10px;
}



